@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 80vh; display:flex; justify-content: center; align-items: center; text-align:center; flex-direction: column">
    <h1 class="display-4">Welcome to WareHouse</h1>
    <p>WearHouse is a fast fashion franchise that offers various types of clothing. WearHouse has 100+ franchise locations spread across various regions throughout Indonesia.</p>
</div>
