@{
    ViewData["Title"] = "About Us";
}
<div class="aboutus">
    <h2>About Us</h2>
    <div class="aboutus-wrapper">
        <p>
            WearHouse is a fast fashion brand that was founded in 2019. WearHouse aims to provide affordable, highquality, trendy, and easy-to-access fashion apparels. To fullfil our goals, we have opened more than 100stores in various cities across Indonesia. We have a commitment to make each of our product available inevery store, with equal price tags and build qualities regardless of location.
        </p><br>
        <h3>Contact Us</h3>
        <p> Phone: (021) 12345</p>
        <p>Email: support@wearhouse.com</p>
    </div>
</div>

<style>

    .aboutus {
        height: 100vh;
        padding: 4rem;
    }

    .aboutus h2 {
        margin-bottom: 2rem;
    }

    .aboutus-wrapper {
        background-color: white;
        padding: 2rem 1rem 2rem 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 98%;
    }
</style>