<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WareHouse</title>

   
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WareHouse_MarioOrlando.styles.css" asp-append-version="true" />
</head>

<body>
    <nav>
        <div class="left-nav">
            <a class="logowarehouse" asp-area="" asp-controller="Home" asp-action="Index">WareHouse</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
            }
            <a asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
        </div>
        <partial name="_LoginPartial" />
        @if (User.Identity.IsAuthenticated)
        {
            <div class="ham">
                <input type="button" id="buttonHam" value="&#9776;" onclick="show()">
            </div>
        }
        
    </nav>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="hamburger">
            <div id="menuham">
                <div id="menuNavbar">
                    <a asp-area="" asp-controller="Home" asp-action="Index">WareHouse</a>
                </div><br />
                <div id="menuNavbar">
                    <a asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                </div><br />
                <div id="menuNavbar">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
                </div>
            </div>
        </div>
    }
    
    @RenderBody()
    <footer>
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="~/assets/Twitter IT Div.png" alt="Twitter" style="width: 25px; margin-right: 15px"></a>
        <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer"><img src="~/assets/Facebook IT Div.png" alt="Facebook" style="width: 17px; height: 25px"></a>
        <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="~/assets/Instagram IT Div.png" alt="Instagram" style="width: 25px; margin-left: 15px"></a>
        <br><br /><p>Copyright ©2021 Mario Orlando. All Right Reserved</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>
    function show() {
        document.getElementById('menuham').style.display = "inline-block";
    }

    function show() {
        if (menuham.style.display !== 'none') {
            menuham.style.display = 'none';
        } else {
            menuham.style.display = 'inline-block';
        }
    }
</script>

</html>

@* <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WareHouse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                             <li class="nav-item">
                                <a  asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                            </li>
                        }
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
						</li>
					</ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #333333">
        <div class="container text-center">
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="~/assets/Twitter IT Div.png" alt="Twitter" style="width: 25px; margin-right: 15px"></a>
            <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer"><img src="~/assets/Facebook IT Div.png" alt="Facebook" style="width: 17px; height: 25px"></a>
            <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="~/assets/Instagram IT Div.png" alt="Instagram" style="width: 25px; margin-left: 15px"></a>
        </div>
        <div class="container text-center" style="color: #ffffff">
            Copyright ©2021 Mario Orlando. All Right Reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body> *@