@using Microsoft.AspNetCore.Identity
@using WareHouse_MarioOrlando.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@* <ul>
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" asp-area="Identity" asp-page="" title="Manage">@UserManager.GetUserName(User)</a>
    </li>
    <li >
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" >Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul> *@

<style>
    .side-by-side {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .side-by-side li {
        margin-right: 10px;
    }

    li a{
        text-decoration: none;
        color: gray;
    }

    button{
        border:none;
        background-color:white;
        cursor: pointer;
        color: gray;
        font-size: 15px;
    }
</style>

<ul class="side-by-side">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a id="manage" asp-area="Identity" asp-page="" title="Manage">@UserManager.GetUserName(User)</a>
        </li>
        <li>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Logout</button>
            </form>
        </li>
    }
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<style>
    .side-by-side {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .side-by-side li {
        margin-right: 10px;
    }
</style>
